*.pdf
*.pptx
*/__pycache__
*/*/__pycache__
/data
/notebooks/MNIST
notebooks\cifar-10-python.tar.gz
datasets\cifar
/notebooks/ImageNet
environ
/__pycache__
__pycache__
__pycache__\tools.cpython-38.pyc
features/all/binary/*/*.csv
features/all/binary/*.DS_Store
features/all/binary/200X/.DS_Store
.DS_Store
features/DS_Store

features/all/binary/40X/imagelike/hog/
models/results
classifiers/results
*.pdf
*.pptx
*/__pycache__
*/*/__pycache__
/data
/notebooks/MNIST
requirements_melika.txt
/notebooks/CIFAR10
environ
/__pycache__
__pycache__
__pycache__\tools.cpython-38.pyc
features\all\binary\40X\imagelike\hog\benign\
features\all\binary\40X\imagelike\superpixels
